In [1]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google_play_scraper-1.2.4-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.4

In [2]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [6]:
from google_play_scraper import Sort, reviews_all

result = reviews_all(
    'com.posindonesia.cob',
    sleep_milliseconds=0, # defaults to 0
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT , you can use Sort.NEWEST to get newst reviews
)

In [7]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,b6180aec-eb5d-43c5-ba1e-6926a853dd30,Ika Nurhidayah,https://play-lh.googleusercontent.com/a/AAcHTt...,aplikasinya amat sgt memuaskan.....,5,0,1.10.46,2023-07-05 06:43:55,None,NaT,1.10.46
1,31bd12c0-da94-489b-8730-9e2c680f7ca4,Arifan Sutubuska,https://play-lh.googleusercontent.com/a/AAcHTt...,Sangat bagus,1,0,1.10.46,2023-07-05 05:56:12,None,NaT,1.10.46
2,d33f6ef3-fdaa-4b6f-b453-5c9aed0e1634,Padli S nandu,https://play-lh.googleusercontent.com/a/AAcHTt...,Posaja juara,5,0,1.10.46,2023-07-05 05:19:16,None,NaT,1.10.46
3,9fd97674-72ed-440f-9cb9-b62d82b7c6d3,Putut Setyo,https://play-lh.googleusercontent.com/a-/AD_cM...,Bagus dan untuk kedepannya diperbanyak lagi me...,5,0,None,2023-07-05 05:08:06,None,NaT,None
4,9d0306de-0839-43ad-8cc7-fd451b8e07ff,Hadi Muljono,https://play-lh.googleusercontent.com/a-/AD_cM...,Riwayat kiriman stag tidak ada perubahan walau...,5,0,1.10.46,2023-07-05 03:56:30,None,NaT,1.10.46

In [8]:
len(df_busu.index) #count the number of data we got

5677

In [9]:
df_busu[['userName', 'score','at', 'content']].head()  #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,Ika Nurhidayah,5,2023-07-05 06:43:55,aplikasinya amat sgt memuaskan.....
1,Arifan Sutubuska,1,2023-07-05 05:56:12,Sangat bagus
2,Padli S nandu,5,2023-07-05 05:19:16,Posaja juara
3,Putut Setyo,5,2023-07-05 05:08:06,Bagus dan untuk kedepannya diperbanyak lagi me...
4,Hadi Muljono,5,2023-07-05 03:56:30,Riwayat kiriman stag tidak ada perubahan walau...

In [10]:
new_df = df_busu[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

,userName,score,at,content
0,Ika Nurhidayah,5,2023-07-05 06:43:55,aplikasinya amat sgt memuaskan.....
1,Arifan Sutubuska,1,2023-07-05 05:56:12,Sangat bagus
2,Padli S nandu,5,2023-07-05 05:19:16,Posaja juara
3,Putut Setyo,5,2023-07-05 05:08:06,Bagus dan untuk kedepannya diperbanyak lagi me...
4,Hadi Muljono,5,2023-07-05 03:56:30,Riwayat kiriman stag tidak ada perubahan walau...

In [12]:
my_df = sorted_df[['userName', 'score','at', 'content']] #get userName, rating, date-time, and reviews only

In [13]:
my_df.head()

,userName,score,at,content
0,Ika Nurhidayah,5,2023-07-05 06:43:55,aplikasinya amat sgt memuaskan.....
1,Arifan Sutubuska,1,2023-07-05 05:56:12,Sangat bagus
2,Padli S nandu,5,2023-07-05 05:19:16,Posaja juara
3,Putut Setyo,5,2023-07-05 05:08:06,Bagus dan untuk kedepannya diperbanyak lagi me...
4,Hadi Muljono,5,2023-07-05 03:56:30,Riwayat kiriman stag tidak ada perubahan walau...

In [14]:
my_df.to_csv("scrapped_data.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.